<%- include("header"); %>



<h2>About Page!</h2>

<p>njfivfnvuoicjunrvhrmnmivoeskjfrnc t u4thrnuirhfruht 8thuewhu hurt89fh4e9j 8y49dmswufdhg 89y4gf7n4wye75vbp3wnchwbj ;bqnm</p>


<%- include("footer"); %>