<%- include("header"); %>
    <div class = "error">
        <div class="box">
            <div id="error_heading"><h2>Oops</h2></div>
            <p>Error loading resource...   <%= error?.message %> </p>
            <p>This is most likely a result of a mistyped URL. Return <a href="/">Home</a> to explore the app.</p>
        </div>
    </div>



    <%- include("footer"); %>